.container-fluid{
    height: fit-content;
}

.side-left-nav{
    border-radius: 30px 10px 10px 30px;
    background-color: #F0EFEF;
    .logo{
        h4 {
            cursor: default;
            position: relative;
            right: 20px;
            top: 15px;
            margin: 0px;
            font-size: 35px;
            font-family: 'Smooch', cursive;
        }
    }
    .list{
        cursor: pointer;
        font-size: medium;
        list-style: none;
        padding: 13px;
        border-radius: 10px;
        margin: 10px;
    }
    .list:hover{
        font-weight: bold;
        cursor: pointer;
        font-size: medium;
        border-radius: 20px 0 0 20px;
        background-color: white;
        width: 180px;
    }
    .btn{
        position: relative;
        bottom: 2vh;
        width: 160px;
        border-radius: 20px;
    }
}

.content{
    .header{
        .search{
            height: 4.5vh;
            border-radius: 20px;
            width: 15vw;
        }
        .bi{
            cursor: pointer;
            border-radius: 100%;
            padding: 0.5vh 0.5vw;
            background-color: white;
            filter: drop-shadow(0 0 0.15rem rgba(32, 29, 30, 0.37));
        }
    }
}

.side-right-nav{
    padding: 5vh;
    border-radius: 0 20px 20px 0;
    background-color: #F0EFEF;
    .header{
        .bi{
            border-radius: 50%;
            background-color: #fff;
            font-size: 80px;
            padding: 1vh 1.5vw;
        }
    }
    .body{
        .calendar{
            width: 300px;
        }
        .body-content{
            
        }
    }
}